<div class="row">
  <div class="col">

    <nb-card class="list-card" size="large">
      <nb-card-header>Players</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let player of players">
          <nb-user
            size="large"
            [name]="player.title"
            [title]="player.category"
            [picture]="player.image"
            >
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>

  </div>
</div>

<div class="row">
  <div class="col text-right">
    <button type="button" nbButton routerLink="edit">Ajouter</button>
  </div>
</div>